
h1{
    text-align: center;
    margin-top: 20px;
    color:white;
    margin-bottom: 10px;
}
form{
    text-align: center;
    margin: 10px;
}
label, input{
    margin-top: 10px;
    color:lightgray
    
}
input{
    background-color: rgb(32, 28, 28);
    color: aliceblue;
    border-radius:20px;
    text-align: center;
}

button{
    background-color: rgb(32, 28, 28);
    margin: 10px;
    color:white;
    height: 40px;
    width: 100px;
    border-radius: 20px;
}
#reset:hover{
    background-color: red;
    scale:1.3;
}
#zaloz:hover{
    background-color: green;
    scale: 1.3;
}
th, tr{
    border: 2px solid black;
    
}
table{
    border-collapse: collapse;
    
}
table {
    
    margin: 0 auto; 
    width: 50%; 

}