.cm{
    width: 1cm;
    height: 1cm;
    background-color: blanchedalmond;
}

.inchascm{
    width: 2.54cm;
    height: 2.54cm;
}

.inchasmm{
    width: 25.4mm;
    height: 25.4mm;
    background-color: aquamarine;
}

.mms{
    width: 10mm;
    height: 10mm;
    background-color: aliceblue;
}

.inch{
    width: 1in;
    height: 1in;
    background-color: a;
}

.pxs96 {
    width: 96px;
    height: 96px;
    background-color: azure;
}

.pts72 {
    width: 72pt;
    height: 72pt;
    background-color: beige;
}

.pcs6 {
    width: 6pc;
    height: 6pc;
    background-color: bisque;
}